@media only screen and (max-width: 992px) {
    .container {
        width: 100%;
        height: 120vh;
    }
    
    .form-box {
        width: 90%;
        height: 100vh;
        left: 5%;
    }

    .personal-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px
    }
    .personal-info input {
        width: 90%;
        font-size: 14px;
    }

    .club-info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
  }